[Desktop Entry]
Type=Application
Name=Outils TI-LEX Pro
Comment=Ouvrir les vrais outils et paramètres Linux
Exec=python3 /usr/share/ti-lex/settings/app.py
Icon=/usr/share/ti-lex/branding/tools.svg
Terminal=false
Categories=System;Utility;
